<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/special.css" > 
    <!-- wichtig mit anfang / -->
    <title>Document</title>
</head>
<body>
    <!-- für header verbinden -->
<%- include('../partials/header.ejs') %> 
<main> <%- body %></main> 
<%- include('../partials/footer.ejs') %> 
</body>
</html>

  <!-- wir wollen zeigen was im index.ejs und projectliste  -->
    <!-- dann schreiben wir nur und in andere ejs datei bleibt nur h1 -->